@charset "utf-8";
/* CSS Document */
p  {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	line-height: 16px;
	width: 600px;
	background-color: lightblue;
	border-style: dashed;
	padding: 20px;
}
body {
  background-color: lavender;
}	

h1, h2, h3, h4, h5  {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: black;
}
a:link {
	color: black;
	background-color: lavender;
}

img {
	height: 400px;
	
}